table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2rem;
  thead {}
  tbody {}
  tfoot {}
  tr {
    &:nth-child(odd) td {background: @blue--light;}
  }
  th {
    padding: 0.75rem 1rem;
    text-align: left;
    background: @blue;
    color: @white;
    border: 0;
    font-family: @font;
    font-weight: @bold;
    font-size: 1.25rem;
    &.sortable {
      cursor: pointer;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &[data-sort]:after {
        content:'>';
        display: inline-block;
        position: relative;
        padding-left: 0.5rem;
        transform-origin: center center;
        transform:rotate(0deg);
        vertical-align: middle;
        transition: transform 0.5s ease-in-out;
      }
      &[data-sort="asc"]:after {
        transform:rotate(-90deg);
        padding-left: 0;
        padding-top: 1rem;
      }
      &[data-sort="desc"]:after {
        transform:rotate(90deg);
        padding-left: 0;
        padding-bottom: 0.5rem;
      }
    }
  }
  td {
    padding: 0.5rem 1rem;
    text-align: left;
  }
}